<div class="container-fluid" id="menu-ppal-container">
    <hr class="divisor-seccion border-secondary mb-0" aria-hidden="true" />
    <ul class="nav nav-fill row no-gutters" id="myTab" role="tablist">
        <!--nav-tabs-->
        <li class="nav-item col-md-3ths col-xs-3ths pl-0 pr-0">
            <a asp-action="index" asp-controller="Carousel" class="nav-link" title="Gestión de Carrusel">
                <h2 class="">
                    <i class="fas fa-cogs"></i>
                </h2>
                <h6 class="oculta-objeto">
                    Gestión de Carrusel
                </h6>
            </a>
        </li>
        <li class="nav-item col-md-3ths col-xs-3ths pl-0 pr-0">
            <a asp-action="index" asp-controller="NormativaLegal" class="nav-link" title="Normativa Legal">
                <h2 class="">
                    <i class="fas fa-cogs"></i>
                </h2>
                <h6 class="oculta-objeto">
                    Normativa Legal
                </h6>
            </a>
        </li>

        <li class="nav-item col-md-3ths col-xs-3ths pl-0 pr-0">
            <a asp-action="index" asp-controller="IndisponibilidadSitio" class="nav-link" title="Indisponibilidad del Sitio">
                <h2 class="">
                    <i class="fas fa-cogs"></i>
                </h2>
                <h6 class="oculta-objeto">
                    Indisponibilidad del Sitio
                </h6>
            </a>
        </li>
        
    </ul>
    <hr class="divisor-seccion border-secondary mt-0 mb-0" aria-hidden="true" />
</div>
