@*<div class="card">
    <div class="card-header p-1 bg-danger text-white">
        <span class="float-left p-2 ">
            <i class="fas fa-object-group"></i>
            <strong> @ViewData["Title"]</strong>
        </span>
        <a class="float-right p-2 btn btn-link" style="color: white;" href="@(Url.Content("~/"))">
            <i class="fas fa-undo"></i>
        </a>
    </div>
    <div class="col-md-12 m-0 p-0">

    </div>
</div>*@

<div class="container">
    <h2 class="text-center text-secondary"> @ViewData["Title"]</h2>
</div>