<div id="wWaiting" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; background-color: whitesmoke; opacity: .8 !important; z-index: 199099 !Important">
    <div class="modal-body" style="position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
        color: brown;">
        <img src="@Url.Content("~/Logos/Logo Gobierno-DGR.png")" alt="Cargando..." style="zoom: 1;">
        <div style="text-align: center;">
            <i class="fas fa-3x fa-spin fa-spinner"></i>
        </div>
        <div style="text-align: center;">
            <label id="lblWaiting">Procesando... Espere un momento por favor.</label>
        </div>
    </div>
</div>
