@{
    ViewBag.Title = "Página principal";
}

<div class="container">
    <h2 class="text-center text-secondary">Back Office - Sitio Web DGR</h2>
</div>
<!-- MENU PRINCIPAL -->
<section id="menu-ppal">
    @*@(Html.Partial("~/Views/Home/MenuPrincipal.cshtml"))*@
    <partial name="_MenuPrincipal" />
</section>