@model Carousel
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.UbicacionFisica)



<div class="card">
    <div class="card-header">
        <span class="p-2"><i class="fas fa-plus"></i>Edici&oacute;n de Carousel</span>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"> </div>
        <div class="form-group">
            <div class="col-md-12">
                <label asp-for="Descripcion" class="form-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m=>m.Imagen)
                    <label asp-for="Imagen" class="form-label"></label>
                    <input asp-for="Imagen" class="form-control" disabled />
                    <input asp-for="Archivo" type="file" class="form-control form-control-file" />
                    <p class="text-primary"><i class="fa fa-info-circle fa-1x" title="Formatos admitidos .JPG .JPEG .PNG .GIF .BMP"></i><small> Formatos admitidos .JPG .JPEG .PNG</small></p>
                    <div class="col-12" id="file"></div>
                </div>
            </div>
        
        <div class="form-group">
            <div class="col-md-12">
                <label asp-for="Url" class="form-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label asp-for="TextoLink" class="form-label"></label>
                <input asp-for="TextoLink" class="form-control" />
                <span asp-validation-for="TextoLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label asp-for="VigenciaDesde" class="form-label"></label>
                <input asp-for="VigenciaDesde" class="form-control" type="date" />
                <span asp-validation-for="VigenciaDesde" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label asp-for="VigenciaHasta" class="form-label"></label>
                <input asp-for="VigenciaHasta" class="form-control" type="date" />
                <span asp-validation-for="VigenciaHasta" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label asp-for="Orden" class="form-label"></label>
                <input asp-for="Orden" class="form-control" />
                <span asp-validation-for="Orden" class="text-danger"></span>
            </div>
        </div>
        
    </div>
    <div class="card-footer">
        <div class="row col-md-12 text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success px-5 radius-15 pointer">
                    <i class="bx bx-check-circle" aria-hidden="true"></i> <span> Grabar</span>
                </button>
            </div>
        </div>
    </div>
</div>

